blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

body,button,input,select,textarea {
  color: #3C3C3C;
  background-color: #f4f4f4;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
  -webkit-font-smoothing: antialiased; /* webkit 抗锯齿渲染 */
  -moz-osx-font-smoothing: grayscale; /* Gecko 抗锯齿渲染 */
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

address,cite,dfn,em,var {
	font-style: normal
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace
}

small {
	font-size: 12px
}

ol,ul {
	list-style: none
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,img {
	border: 0
}

button,input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

button {
	border-radius: 0;
}

@font-face {
	font-family:global-iconfont;
	src:url(http://at.alicdn.com/t/font_1404888168_2057645.eot);
	src:url(http://at.alicdn.com/t/font_1404888168_2057645.eot?#iefix) format("embedded-opentype"),
			url(http://at.alicdn.com/t/font_1404888168_2057645.woff) format("woff"),
			url(http://at.alicdn.com/t/font_1404888168_2057645.ttf) format("truetype"),
			url(http://at.alicdn.com/t/font_1404888168_2057645.svg#uxiconfont) format("svg");
}
@font-face {
	font-family:iconfont;
	src:url(http://at.alicdn.com/t/font_403341_n8tj33yn5peng66r.eot);
	src:url(http://at.alicdn.com/t/font_403341_n8tj33yn5peng66r.eot?#iefix) format('embedded-opentype'),
	url(http://at.alicdn.com/t/font_403341_n8tj33yn5peng66r.woff) format('woff'),
	url(http://at.alicdn.com/t/font_403341_n8tj33yn5peng66r.ttf) format('truetype'),
	url(http://at.alicdn.com/t/font_403341_n8tj33yn5peng66r.svg#iconfont) format('svg')
}
.tb-ifont {
	font-family: iconfont!important;
	font-size: 14px;
	font-style: normal;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.h {
  color: #ff5000!important;
}
.clearfix {
	*zoom: 1
}
.clearfix:after {
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both
}
.clearfix:after,.clearfix:before {
	content: " ";
	display: table
}
/* 顶部样式开始 */
.site-nav .site-nav-icon {
	font-family: global-iconfont;
	font-size: 12px;
	font-style: normal;
	margin-top: -3px\9;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscaleFont type;
	margin-right: 5px;
	_line-height: 33px;
	color: #9c9c9c
}
.site-nav .site-nav-menu-hd a:hover .site-nav-icon {
	color: #f40;
}
.site-nav .site-nav-bd-r .site-nav-icon {
	width: 12px;
}
.site-nav .site-nav-icon-highlight {
	color: #f40;
}
.site-nav .site-nav-arrow {
	display: block;
	float: left;
	width: 12px;
	height: 6px;
	line-height: 6px;
	overflow: hidden;
	margin-top: 16px
}
.site-nav .site-nav-arrow .site-nav-icon {
	display: block;
	margin-top: -4px;
	margin-right: 20px
}
.site-nav {
	z-index: 10000;
	width: 100%;
	background-color: #f5f5f5;
	border-bottom: 1px solid #eee;
	*zoom: 1;
}
.site-nav:after {
	content: "";
	display: table;
	clear: both;
}
.site-nav .site-nav-bd {
	margin: 0 auto;
	width: 1190px;
	height: 35px;
	background: #f5f5f5;
	-webkit-backface-visibility: hidden;
	*zoom: 1
}
.site-nav .site-nav-bd:after {
	content: "";
	display: table;
	clear: both
}
.site-nav .site-nav-bd a {
	color: #3c3c3c
}
.site-nav .site-nav-bd a:hover {
	color: #f40;
	text-decoration: none
}
/* 分隔栏样式 */
.site-nav .site-nav-bd .site-nav-pipe {
	padding: 0 5px;
	font-style: normal;
	color: #ddd
}
/* 顶栏左侧 */
.site-nav .site-nav-bd .site-nav-bd-l {
	float: left;
}
/* 顶栏右侧*/
.site-nav .site-nav-bd .site-nav-bd-r {
	float: right
}
/* 顶栏右侧分隔| */
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe {
	float: left;
	height: 35px;
	line-height: 35px
}
.site-nav .site-nav-bd .h {
	color: #f22e00!important
}
.site-nav .site-nav-menu {
	float: left
}
.site-nav .site-nav-menu .site-nav-menu-hd {
	z-index: 10002;
	position: relative;
	padding: 0 6px;
	height: 35px;
	line-height: 35px;
	_display: inline;
	_zoom: 1;
}
.site-nav .site-nav-menu .site-nav-menu-hd a {
	float: left;
	margin-right: 7px;
	font-size: 12px;
	color: #6C6C6C
}
.site-nav .site-nav-menu .site-nav-menu-hd a:hover {
	color: #F40
}
.site-nav .site-nav-menu .site-nav-menu-hd a span {
	float: left;
	cursor: pointer
}
.site-nav .site-nav-menu .site-nav-region {
	float: left;
	margin-right: 7px
}
/* 顶部样式结束 */
/* logo-搜索开始 */
.top {
	background-color: #FFF;
	padding-top: 24px;
	height: 97px
}
.top-wrap {
	width: 1190px;
	margin: 0 auto;
	position: relative
}
.tbh-logo {
	float: left;
	width: 190px
}
.logo {
	width: 190px;
	height: 80px;
	float: left;
	margin-top: 8px
}
.logo h1 {
	position: relative
}
.logo h1 .logo-bd {
	display: block;
	margin-left: 22px;
	padding-top: 58px;
	width: 142px;
	height: 0;
	overflow: hidden;
	text-indent: -9999px;
	background: url("./img/logo.png") 0 0 no-repeat;
}
.logo h1 img {
	display: block;
	width: 230px;
	height: 110px
}
.tbh-search {
	margin-left: 258px;
	margin-right: 302px
}
.search-wrap {
  position: relative;
}
.search-bd {
  z-index: 30;
  position: relative;
  transform: translateZ(0);
}
.search-bd .search-triggers {
	height: 22px;
	margin-left: 17px
}
.search-bd .search-triggers li {
	color: #F40;
	text-align: center;
	float: left;
	width: 36px;
	height: 22px;
	line-height: 22px;
	margin-right: 4px;
	cursor: pointer;
}
.search-bd .search-triggers li:hover {
	background-color: #FFEEE5;
	color: #FF5400;
}
.search-bd .search-triggers .selected {
	color: #FFF;
	font-weight: 700;
	background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
	background-image: -o-linear-gradient(left,#ff9000 0,#ff5000 100%);
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1);
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.search-bd .search-triggers .selected:hover {
	color: #FFF;
	background-color: #FF5400;
	*background-color: #FF5400!important
}
.tbh-search .search-panel {
  position: relative;
}
.search-bd .search-panel .search-button {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	width: 74px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.search-bd .search-panel .search-button .btn-search {
	font-size: 18px;
	font-weight: 700;
	color: #FFF;
	background-color: #FF4200;
	cursor: pointer;
	height: 100%;
	border: none;
	width: 100%;
}
.search-bd .search-panel .search-common-panel {
	margin-right: 74px;
	border: 2px solid #ff5000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	overflow: hidden;
	height: 36px;
}
.search-bd .search-panel .search-common-panel:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 36px;
	border: 2px solid #ff5000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 20px;
	border-right: none;
}
.search-bd .search-panel .search-common-panel label {
	z-index: 2;
	position: absolute;
	top: 11px;
	left: 34px;
	color: #9C9C9C;
	cursor: text;
	touch-action: none;
	-ms-touch-action: none;
	pointer-events: none;
	-ms-pointer-events: none;
	-webkit-user-select: none;
}
.search-bd .search-panel .search-common-panel #q {
	padding: 6px 0;
	text-indent: 10px;
	height: 24px;
	line-height: 24px;
	width: 472px;
	border: none;
	outline: 0;
	background: #FFF;
	*margin-top: -2px;
}
.search-bd .search-panel .search-common-panel i {
	z-index: 2;
	font-size: 16px;
	position: absolute;
	top: 9px;
	left: 14px;
	color: #666;
}
.search-bd .search-panel .search-common-panel .search-combobox-input-wrap {
	height: 36px;
	overflow: hidden;
	width: 472px;
}
.search-bd .search-panel .search-common-panel .search-imgsearch-panel{
	position: absolute;
	right: 7px;
	top: 7px;
	z-index: 3;
	height: 20px;
	width: 24px;
}
.search-bd .search-panel .search-common-panel .search-imgsearch-panel {
	position: absolute;
	top: 2px;
	right: 90px;
	display: none;
	height: 36px;
	display: block;
}
.search-imgsearch-panel .tb-ifont {
	font-size: 24px;
	color: #999
}
.search-ft {
	position: relative;
	float: left\9;
	padding: 5px 41px 0 0;
	height: 20px;
	overflow: hidden;
	_width: 600px
}
.search-ft .search-hots {
	position: relative;
	white-space: nowrap;
	zoom: 1
}
.search-ft .search-hots a {
	float: left;
	margin-right: 8px;
	color: #666
}
.search-ft .search-hots a:hover {
	color: #F40
}
.search-ft .search-hots .more {
	color: #666;
	position: absolute;
	top: 0;
	right: -42px;
	margin-right: 0;
	background: #FFF
}
.search-ft .search-hots .more i {
	font-size: 12px;
	position: relative
}
.search-hots-lines {
	height: 46px;
	position: relative;
	overflow: hidden
}
.search-hots-fline,.search-hots-sline {
	overflow: hidden;
	height: 18px;
	line-height: 18px;
	margin-bottom: 5px
}
.search-hots-fline .h,.search-hots-sline .h {
    color: #ff5000!important;
}
/*顶侧右部二维码*/
.tbh-qr-wrapper {
	position: absolute;
	top: 0;
	right: 110px
}
.tbh-qr {
	position: relative
}
.qr {
	position: relative;
	top: 0;
	z-index: 2
}
.qr a:hover{
	text-decoration: none;
}

.qr .qr-bd {
	position: relative;
	cursor: pointer;
	display: block;
	text-align: center;
	width: 74px;
	height: 88px;
	color: #666;
	border: 1px solid #eee;
	background-color: #FFF
}

.qr .qr-bd span {
	line-height: 20px;
	margin: 4px auto 0;
	width: 78px
}

.qr .qr-bd img {
	display: block;
	margin-left: 6px;
	width: 62px;
	height: 62px
}

.qr .qr-ft {
	position: absolute;
	top: 0;
	left: -16px;
	display: block;
	width: 14px;
	height: 14px;
	border: 1px solid #eee
}

.qr .qr-ft s {
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	color: #DDD
}

.qr .qr-ft s:hover {
	color: #CCC
}
/* 导航栏 */
.tb-bg {
	background-image: -webkit-linear-gradient(left,#ff9000 0,#ff5000 100%);
	background-image: -o-linear-gradient(left,#ff9000 0,#ff5000 100%);
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000', endColorstr='#ffff5000', GradientType=1)
}
div.tbh-nav .nav {
	width: 1190px;
	margin: 0 auto
}
.tbh-nav .nav {
	height: 30px;
	line-height: 30px;
	position: relative;
	color: #fff
}
.tbh-nav h2 {
	float: left;
	width: 190px;
	text-align: center;
	font-size: 16px;
	background: #ff5000
}
.tbh-nav ul {
	position: relative;
	z-index: 5
}
.tbh-nav li {
	float: left;
	*display: inline
}
.tbh-nav li a {
	color: inherit
}
.tbh-nav .nav-bd li,.tbh-nav .nav-hd li {
	position: relative;
}
.tbh-nav .nav-bd a,.tbh-nav .nav-hd a {
	float: left;
	*display: inline;
	padding: 0 5px;
	font-weight: 700
}
.tbh-nav .nav-bd li.hover,.tbh-nav .nav-bd li:hover,.tbh-nav .nav-hd li.hover,.tbh-nav .nav-hd li:hover {
	border-radius: 13px
}
.tbh-nav .nav-bd li.hover:before,.tbh-nav .nav-bd li:hover:before,.tbh-nav .nav-hd li.hover:before,.tbh-nav .nav-hd li:hover:before {
	content: '\E606';
	font-family: iconfont;
	color: #ff5000;
	top: -19px;
	position: absolute;
	left: 50%;
	font-size: 12px;
	margin-left: -15px;
}
.tbh-nav .nav-bd li.hover a,.tbh-nav .nav-bd li:hover a,.tbh-nav .nav-hd li.hover a,.tbh-nav .nav-hd li:hover a {
	color: #FFF;
	text-decoration: none;
}
.tbh-nav .nav-hd {
	float: left;
	*display: inline;
	font-size: 16px;
	font-weight: 700
}
.tbh-nav .nav-hd li {
	margin: 0 3px;
	text-align: center;
	padding: 0 4px;
	cursor: pointer
}
.tbh-nav .nav-bd {
	float: left;
	*display: inline;
	font-size: 14px
}
.tbh-nav .nav-bd li {
	margin-left: 7px
}
/* outer */
.screen-outer {
	width: 1190px;
	margin: 0 auto;
	height: 632px
}
.main {
	float: left;
	width: 900px;
	height: 100%;
	clear: left
}
.main .core {
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	height: 512px;
	width: 520px
}
.sub-column {
	float: right;
	width: 160px;
	height: 512px;
	margin-right: 10px;
	margin-top: 10px
}
.tbh-service {
	position: relative;
	background-color: #FFF;
	float: left;
	width: 190px
}
.tbh-promo,.tbh-tmall {
	width: 520px
}
.service {
	height: 522px;
	position: relative;
	font-size: 14px;
	color: #fff;
	width: 190px
}
.service-bd {
	border: 1px solid #ff5000;
	border-top: none;
	padding-top: 5px;
	padding-bottom: 3px
}
.service-bd li {
	overflow: hidden;
	line-height: 32px;
	height: 32px;
	padding-left: 25px;
	padding-right: 19px;
	position: relative;
	font-size: 14px;
	font-weight: 400;
	width: 145px;
	color: #666
}
.service-bd li .service-arrow {
	position: absolute;
	right: 10px;
	font-size: 12px
}
.service-bd li span {
	display: inline-block;
	line-height: 32px;
	height: 32px;
	overflow: hidden;
	width: 134px;
	vertical-align: top
}
.service-bd li.on {
	background-color: #ffe4dc;
	color: #FF5000
}
.service-bd li.on a {
	color: #FF5000
}
.service-bd li.on .service-icons {
	color: #FF5000
}
.service-bd a {
	color: #666
}
.service-bd a:hover {
	color: #666;
	text-decoration: underline
}
/* 图片展示 */
.promo {
	position: relative;
	width: 520px;
	height: 280px;
	overflow: hidden;
	*zoom: 1
}
.promo-bd {
	position: relative
}
.promo-bd .mod {
	width: 520px;
	height: 280px;
	*zoom: 1
}
.promo:hover .promo-ft .promo-opt {
	z-index: 5;
	opacity: 1;
	filter: alpha(opacity=100)
}
/* 图片展示 左右按钮 */
.sld-ft-opt {
	display: none;
	z-index: 5;
	opacity: 1;
	filter: alpha(opacity=100)
}
.sld-ft-opt a {
	position: absolute;
	top: 50%;
	background-color: rgba(0,0,0,.3);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#4d000000', GradientType=0)
}
.sld-ft-opt a:hover {
	background-color: rgba(0,0,0,.5);
	text-decoration: none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000', GradientType=0)
}
.sld-ft-opt a.prev {
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-background-clip: padding-box;
	-moz-border-radius-bottomright: 15px;
	-moz-background-clip: padding;
	border-bottom-right-radius: 15px;
	background-clip: padding-box
}
.sld-ft-opt a.next {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-background-clip: padding-box;
	-moz-border-radius-bottomleft: 15px;
	-moz-background-clip: padding;
	border-bottom-left-radius: 15px;
	background-clip: padding-box
}
.sld-ft-opt .prev {
	left: 0
}
.sld-ft-opt .next {
	right: 0
}
.sld-ft-opt .next i {
	margin-left: 6px
}
.sld-ft-opt a,.sld-ft-opt i {
	display: block;
	height: 30px;
	width: 20px;
	line-height: 30px;
	color: #fff
}
/* 图片展示底部栏 */
.sld-ft-nav {
	border-radius: 10px;
	position: absolute;
	bottom: 15px;
	height: 13px;
	text-align: center;
	font-size: 0;
	left: 50%;
	margin-left: -39px;
	background-color: rgba(255,255,255,.3);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#4dffffff', GradientType=0)
}
.sld-ft-nav li {
	display: inline-block;
	margin: 3px
}
.sld-ft-nav li a {
	display: block;
	padding-top: 8px;
	width: 8px;
	height: 0;
	border-radius: 50%;
	background: #fff
}
.sld-ft-nav .selected a {
	background: #ff5000
}
.tmall {
	position: relative;
	width: 520px;
	height: 230px;
	margin-top: 1px;
	overflow: hidden
}
.tmall:hover .tmall-ft .tmall-opt {
	z-index: 5;
	opacity: 1;
	filter: alpha(opacity=100)
}
.tmall .tb-loading .mod a {
	border-color: transparent
}
.tmall .tmall-bd {
	height: 201px
}
.tmall-hd {
	font-size: 14px;
	padding-top: 11px;
	border-bottom: 3px solid #ff1648;
	position: relative;
	background-color: #f1f1f1
}
.tmall-hd .inner {
	height: 18px;
	line-height: 18px;
	position: relative;
}
.tmall-hd .hd-bg {
	width: 136px;
	position: absolute;
	height: 19px;
	background-repeat: no-repeat;
	background-position: 2px 0;
	background-size: 122px 22px;
	background-image: url('./img/tmall.png') ;
}
.tmall-hd em {
	font-size: 12px;
	color: #666;
	position: relative;
	margin-left: 136px
}
.tmall-hd strong {
	position: absolute;
	right: 0;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 400
}
.tmall-hd strong i {
	font-style: normal;
	color: #ff1648
}
/* tmall-bd 展示图片*/
.tmall .mod a {
  width: 130px;
  height: 201px;
  float: left;
}
.tmall .mod-2 a {
  margin-top: 6px;
  width: 251px;
  height: 190px;
  overflow: hidden;
  margin-left: 6px;
}
.tmall .mod-loaded a {
  border-color: #ebebeb;
}
.tmall .mod-2 a img {
  width: 100%;
  height: 100%;
}
.tbh-focus {
  overflow: hidden;
  height: 280px;
  background-color: #FFF;
}
.hd-tanx {
  overflow: hidden;
  height: 280px;
  background-color: #FFF;
}
.hb-tanx-down {
  margin-top: 1px;
  height: 230px;
}
.hb-tanx-down h5 {
  font-size: 12px;
  font-weight: 400;
  background: #f1f1f1;
  color: #a1a1a1;
  line-height: 24px;
  padding-top: 6px;
}
.hd-tanx .tanx {
	min-height: 0;
	background-color: #fff;
}
.tbh-headline {
  width: 890px;
  height: 100px;
	min-height: 0;
  background-color: #FFF;
}
.headline {
  position: relative;
  padding: 14px 14px 12px 20px;
  margin-top: 10px;
  background: #fff;
}
.headline h3 {
  width: 180px;
  height: 73px;
  float: left;
	background: url(./img/tbdheadling-h3.png) 0 14px no-repeat;
}
.mod-hd {
  position: relative;
}
.headline h3 p {
  margin-top: 42px;
}
.mod-hd p {
  line-height: 24px;
  height: 24px;
  color: #999;
  font-weight: 400;
}
.headline .more {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  z-index: 1;
  background: #fff;
  color: #999;
  width: 40px;
  text-align: right;
}
.headline .more .tb-ifont {
  font-size: 12px;
  float: right;
  width: 12px;
  text-align: center;
  position: relative;
  top: 1px;
}
.headline-bd {
  overflow: hidden;
  position: relative;
  height: 73px;
  margin-left: 180px;
  width: 676px;
}
.headline-bd a {
  display: block;
  height: 73px;
}
.headline-bd a:hover {
	text-decoration: none;
}
.headline-bd a:hover h4{
	color: #ff5000;
}
.headline-bd .mod img {
  float: left;
  height: 73px;
  width: 130px;
}
.headline-bd .mod h4 {
  margin-top: 2px;
  margin-left: 144px;
  color: #333;
  height: 28px;
  overflow: hidden;
  display: block;
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
}
.headline-bd .mod p {
	margin-left: 144px;
	color: #999;
	height: 36px;
	overflow: hidden;
	line-height: 18px;
	font-size: 14px;
}
/* 最右侧用户栏 */
.col-right {
	position: relative;
	float: right;
	width: 290px;
	height: 100%;
	margin-top: 10px
}
.tbh-member {
	background-size: 290px 145px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(./img/col-right-background.png);
	min-height: 0;
}
.member {
	padding: 3px 0 10px 0;
	height: 132px;
	padding-right: inherit;
	text-align: center;
	background-repeat: no-repeat
}
.member .member-nick {
	font-weight: 400
}
.member-bd {
	position: relative;
	height: 91px
}
.member-bd .member-nick-info {
	display: block;
	line-height: 17px;
	height: 17px
}
.member-bd .avatar-wrapper {
	display: block;
	margin: 0 auto;
	width: 74px;
	height: 56px
}
.member-bd .member-home {
	display: inline-block;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 50%;
	-moz-background-clip: padding;
	border-radius: 50%;
	background-clip: padding-box;
	width: 50px;
	height: 50px;
	line-height: 50px;
	overflow: hidden
}
.member-bd .member-avatar {
	width: 50px;
	height: 50px
}
.tbh-icon {
	background: url(./img/tjb-xuebi-img.png) 0 0 no-repeat
}
.tbh-member .tbh-icon {
  background-position: 0 -572.5px;
}
.member-tjb {
	height: 17px;
	line-height: 17px
}
.member-tjb .h {
	display: inline-block;
	-webkit-border-radius: 9px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 9px;
	-moz-background-clip: padding;
	border-radius: 9px;
	background-clip: padding-box;
	background: #ffe4db;
	padding: 0 10px 0 20px;
	position: relative;
	border: none
}
.member-tjb .club {
	margin-left: 2px
}
.member-tjb .tbh-icon {
	position: absolute;
	top: 0;
	display: block;
	left: 0;
	height: 16px;
	width: 16px;
	vertical-align: middle
}
.member-tjb-login .tb-icon {
	position: absolute;
	height: 16px;
	width: 16px;
	top: 0;
	left: 0;
	background-position: -4px -1px
}
.member-tjb-login .club .tb-icon {
	background-position: -93px -1px
}
.member-tjb-login a {
	position: relative;
	display: inline-block;
	padding: 0 6px;
	border: 1px solid #fff0e8;
	background: #fff0e8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}
.member-tjb-login a:hover {
	transition: all .2s ease;
	background: #ffe4d5;
	border-color: #ffcfb6
}
.member-ft {
	height: 40px;
	overflow: hidden;
	margin-top: 2px;
	padding-left: 15px
}
.member-logout {
	height: 25px;
	margin-top: 8px
}
.member-logout a {
	float: left;
	line-height: 25px;
	width: 75px;
	margin-right: 7px;
	text-align: center;
	color: #FFF;
	border-radius: 1px;
	background-image: -webkit-linear-gradient(left,#ff5000 0,#ff6f06 100%);
	background-image: -o-linear-gradient(left,#ff5000 0,#ff6f06 100%);
	background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5000', endColorstr='#ffff6f06', GradientType=1);
	-webkit-border-radius: 4px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 4px;
	-moz-background-clip: padding;
	border-radius: 4px;
	background-clip: padding-box;
	font-size: 14px;
	font-weight: 700
}
.member-logout a:hover {
	color: #fff
}
.member-logout .btn-login {
	width: 92px
}
.member-logout .btn-login i {
	margin-right: 5px;
	font-size: 14px;
	position: relative;
	top: -2px
}
.tbh-tipoff a {
	position: relative;
	padding-left: 82px;
	color: #f40;
	display: block;
	height: 26px;
	line-height: 26px;
	background: #ffe4dd;
	font-size: 12px
}
.tbh-tipoff span {
	position: absolute;
	right: 52px;
	top: 9px;
	line-height: 0;
	width: 0;
	height: 0;
	border-style: solid;
	margin-left: 32px;
	border-width: 5px 0 5px 7px;
	border-color: transparent transparent transparent #f40
}
.tbh-notice {
	height: 98px;
	padding-top: 10px;
	width: 290px;
	background-color: #fff;
}
.tbh-notice .notice-hd {
	position: relative;
	height: 24px;
	margin-top: 4px;
	overflow: hidden;
	margin-right: -2px;
	padding: 0 8px
}
.tbh-notice .notice-hd li {
	float: left;
	*display: inline;
	line-height: 20px;
	width: 32px;
	text-align: center;
	margin: 0 11px
}
.tbh-notice .notice-hd .selected {
	padding: 0;
	font-weight: 700;
	border-bottom: 2px solid #F40
}
.tbh-notice .notice-bd .mod {
	margin: 0 12px;
	height: 50px;
	overflow: hidden;
	padding-top: 9px;
	padding-bottom: 6px
}
.tbh-notice .notice-bd .mod li {
	float: left;
	*display: inline;
	line-height: 25px;
	height: 25px;
	width: 130px;
	overflow: hidden
}
.tbh-notice .notice-bd a {
	text-decoration: none;
	color:#3C3C3C;
}
.tbh-notice .first li:first-child {
	width: 260px
}
